*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;

    font-family: "Open Sans", sans-serif;

}
#main{
    width: 1440px;
    max-width: 90%;
    margin: auto auto;
}
#content{
    width: 70%;
    margin: auto auto;
}
.left_div{
    margin-top: 50px;
}
.right_div{
    margin-bottom: 50px;
  
}

.start{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.start input{
display: block;
width: auto;
height: 20px;
}
.start input[type='button']{
    font-size: 10px;
    padding: 0px 20px;
border: 1px solid hsl(322, 100%, 66%);
border-radius: 15px;
color: hsl(322, 100%, 66%);
background-color: white;
}
.start_text{
    text-align: center;
    margin-top: 70px;
}
.start_text input[type='button']{
    padding: 13px 45px;
    border-radius: 20px;
    border: 0px;
    background-color: hsl(322, 100%, 66%);
} 
.start h1{
    font-family: "Poppins", sans-serif;
}
.start_text p{
padding: 50px 0px;
}
.image{
    margin-top: 100px;
}
.side, .people1, .people2, .people3{
    display: flex;
    margin-bottom: 100px;
justify-content: space-between;
width: 100%;
}
.side{
    margin-top: 60px;
    
}
img{
    width: 100%;
}
.people1, .people3{
    position: relative;
    padding: 100px 0px;
    padding-top: 150px;
    background-image: url(/images/bg-section-bottom-desktop-1.svg),
    url(/images/bg-section-top-desktop-1.svg);
                     
   background-position: left 0 bottom 0,
                        left 0 top 0;
    background-repeat: no-repeat;
}
.people1::before, .people3::before{
    position: relative;
    position: absolute;
    z-index: -1;
 content: "";
    background-color: hsl(207, 100%, 98%);
    width: 100%;
    height: 350px;
    top: 150px;
    left: 0;
}

.div1{
    flex-basis: 50%;
}
.div2{
    flex-basis: 50%;
}
.last{
  text-align: center;
}

.last input[type='button']{
    padding: 13px 45px;
    border-radius: 20px;
    border: 0px;
    background-color: hsl(322, 100%, 66%);
    margin: 50px auto;
}

.finishing{
    width: 100%;
    display: flex;
    justify-content: space-between;
   margin-top: 0px;
    position: relative;
    color: white;
    padding: 100px 0px;

    background-image: linear-gradient(to top, hsl(192, 100%, 9%) 54%, transparent 46%);
    

}
.finishing::before{
    position: absolute;
    content: url(/images/bg-footer-top-desktop.svg);
    top: 0;
    left: 0;
    width: 100%;
   z-index: -1;
    overflow: hidden;

}


.last_left{flex-basis: 25%;
}
.last_right{flex-basis: 50%;}
.last_left .first_img {
    border-radius: 10px;
    width: 70px;
    padding: 5px 1px;
    background-color: aliceblue;
    background: linear-gradient( rgb(163, 153, 153), rgb(87, 93, 108));
}
.last_left h4{
    
    font-size: xx-small;}
    .last_right h3{
font-size: 14px;
    }
    .last_right p{
font-size: 9px;
    }
    .last_right input{    
        padding-top: 5px;
        padding-bottom: 5px ;
    }
    .last_right input[type='button']{
        padding: 8px 20px;
        border-radius: 5px;
        border: 0px;
        background-color: hsl(322, 100%, 66%);
    }

 
.last_left h5{
    width: 140px;
    height: 20px;
    margin-top: 10px;
}

.last_left h5 .ending{
    /* width: 10px; */
width: 18%;
height: 100%;
padding-right: 4px;
padding-left: 4px;
background: linear-gradient( rgb(224, 166, 8), rgb(6, 58, 179));
border: 1px;
border-radius: 30px;
}


