* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  background: linear-gradient(to right, rgb(6, 6, 27), black);
}
#main {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}
.top_title {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 70px;
  align-items: flex-end;
  font-size: 15px;
  margin-top: 5px;
}
.top_title span {
  margin-bottom: 10px;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-weight: 600;
  filter: drop-shadow(0 0 7px rgb(14, 9, 43));
}
.top_title img {
  vertical-align: text-bottom;
  width: 100%;
}
.the_rabit {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 240px;
  margin-top: 180px;
}
.rabit_text {
  flex: 1 1 70%;
  /* white-space: nowrap; */
}

.rabit_text img {
  width: 120px;
  height: 120px;
  vertical-align: bottom;
  vertical-align: middle;
  margin: auto 10px;
  /* -webkit-filter: drop-shadow(3px 3px 0 black) drop-shadow(-3px -3px 0 black); */
  filter: drop-shadow(3px 3px 0 black) drop-shadow(-3px -3px 0 black);
  display: inline-block;
}
.rabit_text span {
  font-size: 90px;
  color: white;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.rabit_text strong {
  font-size: 79px;
  color: white;
}
.rabit_image {
  flex-basis: 20%;
  position: relative;
}
.rabit_image img {
  width: 170px;
  height: auto;
  /* background-color: rgb(0, 0, 0);
  mix-blend-mode: multiply; */
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -100px;
  margin-left: -50px;
}
.join_on {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.join1 {
  color: white;
  flex-basis: 33%;
  height: 80px;
  border: 2px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.join2,
.join3 {
  flex-basis: 33%;
  border: 2px solid white;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.join2 i,
.join3 i {
  color: #ffffff;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 10px;
}
/* !from here */
.the_rabit,
.join_on {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 2s ease, opacity 1s ease;
  visibility: hidden; /* Add this line */
}

.the_rabit.show,
.join_on.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible; /* Add this line */
}

/* !to here */
.button {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  /* user-select: none; */
  width: 130px;
  transition: background-color 0.3s;
  height: 45px;
  margin: auto 0px;
  margin-right: 20px;
}

.button img {
  max-width: 20%;
  height: auto;
  margin-right: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.text span {
  display: block;
}

.doll_div {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 200px;
}
.doll_text {
  color: white;
  font-size: 100px;
  flex-basis: 1;
  text-align: center;
}

.doll img {
  position: relative;
  margin-top: -80px;
  margin-left: -10px;
  width: 80%;
  height: auto;
}
.doll h3 {
  color: white;
}
.doll h4 {
  color: white;
  margin-top: 50px;
}
.doll h3,
.doll h4 {
  width: 70%;
}

.doll {
  flex-basis: 40%;
  position: relative;
  opacity: 0;
  transition: opacity 0.6s ease, transform 4s;
  transform: scale(0.7);
}

.doll.animate {
  /* animation-duration: 6s; */
  animation-name: slide;
  animation-fill-mode: forwards;
  opacity: 1;
  transform: scale(1);
}
/* !no needing of key frames */

.chart {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 100px;
}
/* ?from this */
.chart_text p {
  opacity: 0;
  transform: translateX(-20px);
  transition: transform 1.5s ease, opacity 0.5s ease;
  visibility: hidden; /* Initially hidden */
}

.chart_text p.show {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}
/* ?to this */

.chart_text {
  flex-basis: 49%;
  color: white;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background-color: yellowgreen; */
  margin-right: 80px;
}
.chart h2 {
  font-size: 60px;
  margin-bottom: 40px;
  float: left;
}
.chart p {
  font-size: 30px;

  font-family: 'Times New Roman', Times, serif;
}
.chart_text h2 {
  font-family: Cursive;
  font-size: 50px;
  display: inline-block;
}

.char-e {
  color: red;
  display: inline-block;
  transform: rotate(10deg);
}

.char-c {
  color: green;
  display: inline-block;
  transform: rotate(-5deg);
}

.char-o1 {
  color: blue;
  display: inline-block;
  transform: rotate(15deg);
}

.char-n {
  color: orange;
  display: inline-block;
  transform: rotate(-10deg);
}

.char-o2 {
  color: purple;
  display: inline-block;
  transform: rotate(5deg);
}

.char-m {
  color: teal;
  display: inline-block;
  transform: rotate(-8deg);
}

.char-i {
  color: yellow;
  display: inline-block;
  transform: rotate(3deg);
}

.char-c2 {
  color: pink;
  display: inline-block;
  transform: rotate(-12deg);
}

.char-s {
  color: brown;
  display: inline-block;
  transform: rotate(6deg);
}

.main_chart {
  flex-basis: 49%;
}
.main_chart img {
  width: 100%;
}
.error {
  margin-top: 150px;
  width: 95%;
  height: 500px;
  color: white;
  font-size: 150px;
  font-family: 'Courier New', Courier, monospace;
}
.error span {
  color: rgb(216, 66, 66);
}
.play_time {
  width: 90%;
  margin: auto;
  color: white;
  text-align: center;
  margin-top: 90px;
}
.play_time h2 {
  font-size: 50px;
  color: rgb(216, 70, 2);
  font-family: cursive;
  margin-top: 30px;
  line-height: 39px;
}
.play_time span {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-weight: 100;
}
.play_time p {
  font-size: 65px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 50px;
}
.last_img {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
  height: 200px;
}
.last_img span {
  position: relative;
  display: block;
  margin-top: 10px;
}
.last_img span img {
  width: 300px;
  height: 150px;
  margin-top: 40px;
}
@media all and (max-width: 430px) {
  body {
    padding-left: 10px;
  }
  #main {
    width: 100%;
    margin: auto;
  }
  .the_rabit {
    width: 100%;
    height: auto;
    margin-top: 90px;
  }
  .rabit_text {
    /* flex: 1 1 60%; */
    flex-basis: 60%;
    /* white-space: nowrap; */
  }

  .rabit_text img {
    width: 80px;
    height: 80px;
    vertical-align: bottom;
    vertical-align: middle;
    margin: auto 10px;
  }
  .rabit_text span {
    font-size: 40px;
    color: white;
    line-height: normal;
    margin: 0;
    padding: 0;
  }
  .rabit_text strong {
    font-size: 50px;
    color: white;
  }
  .rabit_image {
    flex-basis: 1;
    position: relative;
  }
  .rabit_image {
    flex-basis: 30%;
    position: relative;
  }
  .rabit_image img {
    width: 100%;
    /* position: relative; */
    position: static;
    top: auto;
    left: auto;
    margin-top: -10px;
    margin-left: -10px;
  }
  .join_on {
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;
    gap: 4px;
  }
  .join1 {
    flex-basis: auto;
    height: 70px;
  }
  .join2,
  .join3 {
    flex-basis: auto;
    height: 70px;
  }

  .the_rabit,
  .join_on {
    transform: translateY(50px);
    transition: transform 1.5s ease, opacity 1s ease;
  }
  .doll_div {
    flex-direction: column;
    margin-top: 50px;
  }
  .doll_text {
    font-size: 50px;
    flex-basis: 1;
    text-align: center;
  }

  .doll img {
    margin-top: -20px;
    margin-left: 37px;
  }

  .doll h4 {
    margin-top: 20px;
  }
  .doll h3,
  .doll h4 {
    width: 89%;
  }
  .doll {
    transition: opacity 0.6s ease, transform 3s;
    transform: scale(0.7);
  }
  .chart {
    flex-direction: column;
    margin-top: 60px;
  }

  .chart_text {
    margin-right: 10px;
  }

  .chart p {
    font-size: 20px;
    margin-bottom: 9px;
  }
  .chart_text h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .error {
    width: 100%;
    font-size: 55px;
    margin-top: 50px;
    height: auto;
  }

  .play_time {
    width: 90%;
    margin-top: 40px;
  }
  .play_time h2 {
    font-size: 50px;

    margin-top: 0px;
    line-height: 39px;
  }

  .play_time p {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
  }
  .last_img {
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 200px;
  }
  .last_img span {
    margin-top: 0px;
  }
  .last_img span img {
    margin-top: 20px;
    margin-left: 40px;
  }
}
